# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
**/__pycache__/

# Jupyter
.ipynb_checkpoints/